{{template "top.incl"}}

<style>
	#page {
		text-align: center;
	}
	#page img {
		width: 60%;
	}
	#page h1 {
	}
</style>
<img src="/static/media/icon-large-trans.png"></img>
<h1>(coming soon)</h1>

{{template "bottom.incl"}}
