{{template "top.incl"}}

<style>
	#page img {
		width: 100%;
	}
	#page h1 {
		text-align: center;
		color: white;
		position: relative;
		top: -80px;
	}
</style>
<img src="/static/media/logo_black.png"></img>
<h1>(coming soon)</h1>

{{template "bottom.incl"}}
